@using System.Security.Claims
@{
    ViewBag.Title = "Accueil";
    var homeText = "Nom de l'application";
    if (Request.IsAuthenticated)
    {
        var claimIdentity = User.Identity as ClaimsIdentity;
        if (claimIdentity != null)
        {
            homeText = "Bonjour, " + claimIdentity.FindFirst(ClaimTypes.NameIdentifier).Value;
        }
    }
}

<span>@homeText</span>
