@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="@Url.Action("Logout", "Ident")" class="link">
            <img src="~/Content/Images/key_go.gif.jpg" alt="Puce" class="logout" />
            Se déconnecter
        </a>
    }
}
