html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* Modification bootstrap*/

.nav li a:hover, .nav li a:active {
    border-color: #0000;
    background-color: #0000;
}
.btn {
    border-radius: 4px;
    border: solid 2px rgb(255,142,20);
    color: black;
}
    .btn:hover {
        background-color: rgb(255,142,20, 0.15);
    }
.btn-link {
    padding: 0 2px;
    background-color: #fff5e4;
    border: 1px solid #ffdda3;
}
    .btn-link:focus, .btn-link:hover {
        background-color: #ffe1ae;
        border: 1px solid #ffc666;
    }

.form-control{
    border-radius: 0;
}
/* Mes classes */
.logo {
    width: 150px;
    height: 63px;
}
.cadre {
    margin-top: 15px;
    padding: 0 0 10px 0;
    min-height: 450px;
    background-color: rgb(241,241,241);
    background-repeat: repeat-y;
    border: solid rgb(255,142,20) 2px;
    border-radius: 10px;
}
.nav-tabs {
    border-bottom: 1px solid rgb(255,142,20);
    margin-bottom: 10px;
}
.menu {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}
.menu:hover {
    color: rgb(255,142,20);
}
.onglet {
    border: solid 2px rgb(255,142,20);
    color: black;
    border-top: none;
    border-left-width: 0;
    border-right-width: 0;
    padding: 6px 6px 0 6px;
    margin: 3px;
}
    .onglet:hover {
        background-color: rgb(255,142,20, 0.15);
        text-decoration: none;
        color: black;
    }
.side-modul {
    overflow-y: auto;
    border: 2px solid #ddd;
}
    .side-modul div {
        border-bottom: 1px solid #ddd;
    }
.side-modul-tache {
    height: 280px;
}
.side-modul-doc {
    height: 140px;
}
.btn-plus {
    padding: 4px 6px;
    color: #00d100;
    margin: 3px 0;
    font-size: 20px;
    cursor: pointer;
}
    .btn-plus:hover {
        background: #FFE7BC;
    }
.infoTache {
    background: #ffdbcf;
}
.infoFichier {
    background: #ffdbcf;
}
.statutTache {
    background: #e3e3e3;
    padding: 0 4px;
    height: 40px;
}
.textTache {
    background: #fff;
    padding: 0 4px;
    height: 40px;
    overflow-y:auto;
}
.head-event {
    border-bottom: 1px solid #ddd;
    background: #e7dc9d;
}
.event {
    border: 2px solid #ddd;
}
.row-event {
    border-bottom: 2px solid #e08e00;
}
/*générique class*/
.puce-20 {
    max-height: 20px;
}

.link {
    color: black;
}

    .link:hover {
        text-decoration: none;
        color: black;
    }

.pg-0{
    padding: 0;
}
.mgb-15{
    margin-bottom: 15px;
}
.text-xs{
    font-size : 9px;
}